* {
  margin: 0;
  padding: 0;

  color: inherit;

  font: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

p {
  margin-bottom: 1.6rem;
}

a {
  text-decoration: none;
}

hr {
  height: 1px;
  margin: 1.6rem 0;

  border: 0;
  background-color: currentColor;
}
